services:
  librechat:
    container_name: librechat
    build:
      context: .
      dockerfile: Dockerfile.librechat
    restart: always
    env_file:
      - .env
    volumes:
      - ./uploads:/app/upload
      - /opt/open-webui/gcp/google_credentials.json:/app/api/data/auth.json:ro
      - ./config/librechat.yaml:/app/librechat.yaml:ro
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/api/data/auth.json
      - ENDPOINTS_CONFIG_PATH=/app/librechat.yaml
      - OLLAMA_BASE_URL=http://haproxy:11434
      - INTERNAL_RAG_PROXY_KEY=super-secret-test-key-123
      - NODE_OPTIONS=--trace-uncaught --trace-warnings
      - DEBUG_CONDENSE=true
      - GCP_PROJECT_ID=turing-outrider-474015-s3
      - GCP_LOCATION=us-central1
      - GOOGLE_STREAMING=false
      - TOOLS_GATEWAY_URL=http://10.10.23.1:8000
      - RAG_SEARCH_MODEL=mxbai
    ports:
      - "10.10.23.2:3080:3080"
    networks:
      - ai-network


  tei-e5:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.8
    container_name: tei-e5
    restart: always
    environment:
      - HUGGINGFACE_HUB_CACHE=/data
      - MAX_CLIENT_BATCH_SIZE=4
      - MAX_BATCH_REQUESTS=4
      - MAX_CONCURRENT_REQUESTS=8
      - TOKENIZATION_WORKERS=2
      - MAX_BATCH_TOKENS=24576
      - PAYLOAD_LIMIT=16777216
      - MAX_REQUEST_SIZE=104857600
    volumes:
      - tei_e5_cache:/data
    command: >
      --model-id intfloat/e5-base-v2
      --payload-limit 16777216
      --max-batch-tokens 24576
      --max-batch-requests 64
    networks:
      - ai-network

  haproxy:
    container_name: failover-proxy
    image: haproxy:2.8-alpine
    restart: always
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - "8081:8081"
      - "11434:11434"
      - "8404:8404"
      - "8083:8083"
    networks:
      - ai-network

  nginx:
    container_name: nginx-proxy
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8443:8443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot
    networks:
      - ai-network

networks:
  ai-network:
    driver: bridge

volumes:
  tei_cache:
  tei_e5_cache:
  redis-sentinel-data:
